.App {
    text-align: center;
    background-color: #f9f9f9;
}

.app__wrapper {
    max-width: 800px;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.calculate__wrapper {
    display: flex;
    justify-content: space-around;
}

.calculate__element {
    margin-top: 1.5em;
}

.App-link {
    color: #61dafb;
}

.btn__wrapper {
    margin-top: 3em;
}

.btn-elem {
    padding-top: 1.3em;
}